{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{% endblock title %}</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.min.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="{% block description %}{% endblock description %}" />
<link rel="shortcut icon" href="{% static "assets/images/overp-icon.png" %}">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
 {% block stylesheets %}
  {% endblock %}
  <style type="text/css">
      {% block custom_css %}
      {% endblock %}
  </style>
  </head>

  <body>
    <div id="wrapper">
    {% block content %}
  {% endblock %}
  </div>
  <footer class="container-fluid">
    {% block copyright %}
    <p class="centered copyright-text">
      Copyright © 2018 MyApp
    </p>
    {% endblock %}
  </footer><!-- /container -->
  {% block javascripts %}
    <script type="text/javascript">
 
    </script>
  {% endblock %}
  {% block custom_script %}
  {% endblock %}
  <div class="loading_place hide">

  </div>
  </body>
</html>