{% extends 'frontend/base.html' %} {% block title %}Privacy Policy{% endblock title %} {% block content %}
<style>
	body {
		background: white;
	}

	.policy-content,
	h2,
	h3,
	h4,
	h6 {
		color: black;
	}

	h4 {
		font-size: 24px;
	}

	h6 {
		font-size: 18px;
	}

	.heading {
		text-align: center;
		font-size: 36px;
	}
</style>
<div class="container">

	<div class="row mt">
		<div class="policy-content">
			<h2 class="heading">Privacy Policy</h2>
			<p>This privacy policy governs your use of the software application DwellTimer ("Application") for mobile devices. The Application
				allows users to track their location by starting/stopping their activities. User can build reports for collected data
				to understand location was spent.
			</p>
			<h4>What information does the Application obtain and how is it used?</h4>
			<h6>User Provided Information</h6>
			<p>The Application obtains the information that you provide when you download and register the Application. Registration
				with us is optional. However, please keep in mind that you may not be able to use some of the features offered by the
				Application unless you register with us.
			</p>
			<p>When you register with us and use the Application, you generally provide (a) your phone number, name, email address and
				password; (b) transaction-related information, such as when you download or use applications from us; (c) information
				you provide us when you contact us for help; and; (d) information you enter into our system when using the Application,
				such as tracked activities. We may also use the information you provided us to contact you from time to time to provide
				you with important information, required notices and marketing promotions.
			</p>
			<h6>Automatically collected information</h6>
			<p>In addition, the Application may collect certain information automatically, including, but not limited to, the type of
				mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating
				system, the type of mobile Internet browsers you use, and information about the way you use the Application.
			</p>
			<h4>Why provide in-app permissions?
			</h4>
			<p>You can deny permissions, but you will not be able to use some of the functionality in the application. Functions such
				as (Take photo, Save image to memory, Get current location,...) Operating system requires you to grant permission to
				perform.
			</p>
			<h4>Does the Application collect precise real time location information of the device?</h4>
			<p>This Application does not collect precise information about the location of your mobile device. Unless you turn on your
				time and location recording function (You can always disable the feature at any time from the “STOP” button or it will
				turn off automatically when the application stops). That information will be posted to our server safely, only you can
				view it and can delete at any time you want. We will not use your information in any way without your consent.
			</p>
			<h4>Camera and Photos.</h4>
			<p>Many of our services require us to collect images and other information from your device’s camera and photos. We’ll access
				your camera and photos only after you give us your consent.
			</p>
			<h4>Confidentiality of Information
			</h4>
			<p>DwellTimer uses secure https and encrypted communications to transmit and store your personal and communications data.
				We are committed to keeping all information that you provide to DwellTimer confidential, or we collect from you and do
				not disclose it to any third party unless consent is obtained from you or requested from the Competent state agencies.</p>
			<h4>In-App Purchase
			</h4>
			<p>If you want to use features or functionality within your app, (by way of example: send mail report), you must use in-app
				purchase. Apps may use in-app purchase currencies to enable customers to digital content providers in the app. Apps and
				their metadata may not include buttons, external links, or other calls to action that direct customers to purchasing
				mechanisms other than in-app purchase.</p>
			<h4>How We Share Information
			</h4>
			<p>Here’s the type of information we may share about you with others and how we do so: When you send a report, your recipients
				will see your name and, of course, whatever your message says or shows (whether that’s a photo, text and location).</p>
			<h4>Your Consent
			</h4>
			<p>By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy
				now and as amended by us. "Processing,” means using cookies on a computer/hand held device or using or touching information
				in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information
			</p>

			<h4>Change to Our Privacy Policy
			</h4>
			<p>DwellTimer may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide
				you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use
				of DwellTimer or the Service after any modification to this Privacy Policy will constitute your acceptance of such modification.
			</p>
			<h4>Contact us</h4>
			<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please
				contact us via email at
				<a href="mailto:dwelltimer2018@gmail.com">dwelltimer2018@gmail.com</a>.</p>
		</div>
		<!--/col-lg-4 -->
	</div>
	<!-- /row -->
</div>
<!-- /container -->
{% endblock %}