{% extends 'frontend/base.html' %}
{% block title %}Reset Password{% endblock title %}
{% block content %}

		<div class="container">
			
			<div class="row mt centered pd20">
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 login-form">
					<h2 class="form-heading"><div class="title">Reset Password</div><div class="blue-line"><div></div></div></h2>
					<form action="" method="POST" id="passwordForm">
					{% csrf_token %}
					{% if password_change_form.errors %}
						{{ password_change_form.errors }} 
					{% endif %}
					<fieldset>
						<div class="form-group">
							<input id="id_password" class="text-input" name="password" type="password" placeholder="New Password" maxlength="30">
						</div>
						<div class="form-group">
							<input id="id_repeat_password" class="text-input" name="repeat_password" type="password" placeholder="Confirm Password" maxlength="30">
						</div>
						<div class="space"></div>

						<div class="clearfix col-lg-6 pull-right pdr0">					

							<button type="submit" class="width-60 pull-right btn btn-sm btn-primary">
								<span class="bigger-110">Save</span>
							</button>
						</div>

						<div class="space-4"></div>
					</fieldset>
				</form>
				</div><!--/col-lg-4 -->
			</div><!-- /row -->
		</div><!-- /container -->
{% endblock %}

{% block custom_script %}
	<script>
		jQuery(function($) {
			$.validator.addMethod("withoutSpace", function (value, element) {
        	 return value.indexOf(" ") < 0 && value != ""; 
    	}, "Space is not allowed.");


			$(document).on('keydown', '#id_password, #id_repeat_password', function(e){
				if(e.keyCode == 32){
					return false;
				}
			});

			$(document).on('change paste input', 'input[maxlength]', function(e){
				var maxlength = parseInt($(this).attr('maxlength'));
				console.log(maxlength);
				if ($(this).val().length > maxlength) {
					$(this).val($(this).val().substr(0, maxlength));
				};
			});



			$("#passwordForm").validate({
				rules: {
					password: {
						required: true,
						withoutSpace: true,
						number: true,
						minlength: 4,
						maxlength: 30,
					},
					repeat_password: {
						required: true,
						number: true,
						withoutSpace: true,
						minlength: 4,
						maxlength: 30,
						equalTo: "#id_password"
					}
			
				},
				messages: {
						password: {
							required: "Password is required.",
							maxlength: "Please use between 4 and 30 characters.",
							minlength: "Please use between 4 and 30 characters."
						},
						repeat_password: {
							required: "Confirm Password is required.",
							minlength: "Please use between 4 and 30 characters.",
							maxlength: "Please use between 4 and 30 characters.",
							equalTo: "Password doesn’t match confirmation."
						}
					}
			});
		});

	</script>

{% endblock %}
