{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{% endblock title %}</title>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="NONE,NOARCHIVE">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="{% block description %}{% endblock description %}" />
<link rel="shortcut icon" href="{% static "assets/images/overp-icon.png" %}">

 {% block stylesheets %}
  {% endblock %}
  <style type="text/css">
      {% block custom_css %}
      {% endblock %}
  </style>
  </head>

  <body>
    <div id="wrapper">
    {% block content %}
  {% endblock %}
  </div>
  <footer class="container-fluid">
    {% block copyright %}
    <p class="centered copyright-text">
      Copyright © 2018 MyApp
    </p>
    {% endblock %}
  </footer><!-- /container -->
  {% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $('input').placeholder({ customClass: 'custom-placeholder' });
      })
    </script>
  {% endblock %}
  {% block custom_script %}
  {% endblock %}
  <div class="loading_place hide">
    <img src="{% static 'assets/images/loading.gif' %}" />
  </div>
  </body>
</html>